.navbar {
  flex-direction: row;
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  align-items: baseline;
  background-color: #ffe5bb;
}

.homepage-link {
  display: flex;
  a {
    font-family: "Bungee Spice", sans-serif;
    font-size: 28px;
    text-decoration: none;
    color: #ffa718;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: wavy overline #415087;
  }
}

.page-links {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  .nav-link {
    margin-left: 0.75rem;
    font-family: "Mukta", sans-serif;
    font-size: 18px;
  }
  a {
    text-decoration: none;
    color: #3d3d3d;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: wavy overline #ffa718;
  }
}
